/* .container {
  padding-top: 50px;
  max-width: 500px;
} */
 #district_select,#vaccine_select, #show_selection ,#dose_select{
  display: none;
}

.container{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  color: #0f0e0e;
  width: 600px;
  height: auto;
  margin: 10% auto;
  padding: 10px;
  background-color: #c5cae9;
  border: 1px solid #f5f5f5;
  border-radius: 15px;
  -webkit-box-shadow:  0px 0px 10px 0px #f5f5f5;
  box-shadow:  0px 0px 10px 0px #f5f5f5;
}

.paddingBetweenCols td
{
    padding:0 15px;
    font-weight: bold;
  
}

