<div class="row" style="margin-top: 3%; display: content">
<div class="col-md-7">
</div>
<div class="col-md-4">
    <div class="container analytics-main">

  <p class="analytics">
    Atleast One Dose Taken:
      <span class="aNum onedose">
        {{analytics['OneDose']}}
      </span>
  </p>
  <p class="analytics">
    Fully Vaccinated:
            <span class="aNum">
    {{analytics['fullyVaccinated']}}
            </span>
  </p>

  <p class="analytics">
    No of Registration:
            <span class="aNum registered">
{{analytics['registered']}}
            </span>
  </p>

  <p class="analytics">
    Vaccine Taken Last Week:
            <span class="aNum">
    {{analytics['pastWeek']}}
            </span>
  </p>

  <p class="analytics">
    Vaccine Taken Last Month:
      <span class="aNum">
        {{analytics['pastMonth']}}
      </span>
  </p>
    </div>
</div>
</div>
