<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vaccination Portal</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  </head>
  <body>
      
    <div class="container">
      <h1 style="text-align: center;font-style: italic; font-weight: bold;">VACCINATION PORTAL</h1><br><br>
        <form action="/book" method="POST">
            {{ form.hidden_tag() }}
            <h3>Enter your details</h3>
            <h4>FULL NAME:</h4></h2>{{ form.user_name(id="user_name", class="form-control") }}
            <br>
            <h4>HEALTH INSURANCE NUMBER:</h4></form>{{ form.proof_id(id="proof_id", class="form-control") }}
            <br><br>
            <button type="button" class="btn btn-primary" onclick= "booking()" id="register-btn" style="background-color: black;">Register</button>
            <a class="btn btn-success" href= "{{url_for('index')}}" id="register1-btn" style="background-color: black;">Back</a>
            <br/>
            <br/>
            <span id="Error" style="font-weight: bold;"></span>
            <div id ="show_selection">
              <br>
              <p style="font-weight: bold;">Booked Successfully for {{ dose }} </p> <br>
                <p style="font-weight: bold;">Booking Details </p> <br>
                <table class="paddingBetweenCols">
                  <tr>
                    <td>STATE</td>
                    <td style="white-space: initial;"><span id="chosen_state"></span><br/></td>
                  </tr>
                  <tr>
                    <td>DISTRICT-MESSE</td>
                    <td><span id="chosen_district"></span><br/></td>
                  </tr>
                  <tr>
                    <td>VACCINE-VARIANT</td>
                    <td><span id="chosen_vaccine"></span><br/></td>
                  </tr>
                  <tr>
                    <td>DATE</td>
                    <td><span id="chosen_date"></span><br/></td>
                  </tr>
                  <tr>
                    <td>TIME</td>
                    <td><span id="chosen_time"></span><br/></td>
                  </tr>

                  <tr>
                    <td>REGISTRATION TOKEN</td>
                    <td><span id="UID"></span><br/></td>
                  </tr>
                  <tr>
                    <td>NAME</td>
                    <td><span id="chosen_user_name"></span><br/></td>
                  </tr>
                  <tr>
                    <td>HEALTH INSURANCE NUMBER</td>
                    <td><span id="chosen_proof_id"></span><br/></td>
                  </tr>
                  {% if dose=="Dose-1" %}

                  <tr>
                    <td>NEXT DUE DATE</td>
                    <td><span id="chosen_new_date"></span><br/></td>
                  </tr>
                  {% endif %}
                  
<!--                 
                <span id="chosen_district"></span><br/>
                <span id="chosen_vaccine"></span><br/>
                <span id="chosen_date"></span><br/>
                <span id="UID"></span><br/> -->
              </table>
            </div>


        </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='book.js') }}"></script>
    <script >


        // console.log('{{state}}');
        var state = '{{state}}';
        var district = '{{district}}';
        var vaccine = '{{vaccine}}';
        var date = '{{date}}';
        var date1 = '{{date}}';
        var dose='{{dose}}';
        var time='{{time}}';
        var duration = { "BioNTech-Pfizer": 21,
                        "AstraZeneca": 28,
                      "Johnson & Johnson": 56,
                    "Moderna":28};
  

        

        if (date=='today') {
          var today = new Date();
          var new_due_date = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();
          
          today = mm + '/' + dd + '/' + yyyy;
          date1=today;
          new_due_date.setDate(new_due_date.getDate() + duration[vaccine]);
          var dd = String(new_due_date.getDate()).padStart(2, '0');
          var mm = String(new_due_date.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = new_due_date.getFullYear();
          new_due_date = mm + '/' + dd + '/' + yyyy;

        }
        else if (date=='tomorrow') {
          var today = new Date();
          var new_due_date = new Date();
          var dd = String(today.getDate()+ 1).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

          today = mm + '/' + dd + '/' + yyyy;
          date1=today;
          new_due_date.setDate(new_due_date.getDate() + duration[vaccine]+ 1);
          var dd = String(new_due_date.getDate()).padStart(2, '0');
          var mm = String(new_due_date.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = new_due_date.getFullYear();
          new_due_date = mm + '/' + dd + '/' + yyyy;
          
        }
        
        document.getElementById("chosen_state").innerHTML=state;
        document.getElementById("chosen_district").innerHTML=district;
        document.getElementById("chosen_vaccine").innerHTML=vaccine;
        document.getElementById("chosen_date").innerHTML=date1;
        if(dose=='Dose-1')
        {
        document.getElementById("chosen_new_date").innerHTML=new_due_date;
        }
        document.getElementById("chosen_time").innerHTML=time;

        function booking() {
        var health_id=document.getElementById("proof_id").value;
        var vaccine_slot = $.ajax({
        type: 'GET',
        url: '/booking/' + vaccine + '/' +district +'/' + date +'/'+dose+'/' +health_id+'/'
        });
        vaccine_slot.done(function(data){

        
        console.log(data)
        if(data['success']==false)
        {
          document.getElementById("Error").innerHTML=data['message'];
          document.getElementById("show_selection").style.display="none";
        }
        else
        {
          document.getElementById("Error").innerHTML="";
          document.getElementById("UID").innerHTML=data['message'];

        }
        
        });
      }
    </script>
  </body>
</html>