<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flask - AJAX Form</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h1 style="text-align: center;font-style: italic; font-weight: bold;" >VACCINATION PORTAL</h1><br><br>

      <div id="state_selection">
        <form action="/" method="POST">
          {{ form.hidden_tag() }}
          {{ form.state(id="state_select", class="form-control") }}
          <br>
          {{ form.district(id="district_select", class="form-control") }}
          <br><br>
          {{ form.vaccine(id="vaccine_select", class="form-control") }}
          <br><br>
          <button type="button" class="btn btn-primary" id="submit-btn" style="background-color: black;">Submit</button>
          <button type="button" class="btn btn-success" onclick= "window.location.href='/state'" id="refresh1-btn" style="background-color: black;">Refresh</button>
        </form>
      </div>

      <br><br>

      <div id="show_selection">
        <h2>Vaccine slot details:</h2>
        <table class="table">
          <thead>
            <tr>
              <th>STATE</th>
              <th>DISTRICT-MESSE</th>
              <th>VACCINE VARIANT</th>
              <th>DATE</th>
              <th>SLOTS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span id="chosen_state"></span></td>
              <td><span id="chosen_district"></td>
              <td><span id="chosen_vaccine"></span></td>
              <td><span id="chosen_date">Today</td>
              <td><span id="chosen_slot"></td>
              <td><button type="button" class="btn btn-primary" id="book-btn">Book</button></td>
            </tr>
            <tr>
              <td><span id="chosen_state1"></span></td>
              <td><span id="chosen_district1"></td>
              <td><span id="chosen_vaccine1"></span></td>
              <td><span id="chosen_date1">Tomorrow</td>
                <td><span id="chosen_slot1"></td>
               <td> <button type="button" class="btn btn-primary" id="book1-btn">Book</button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
